TELEGRAM_BOT_TOKEN=8672098039:AAGEyXSi_HyAdBTzPbfQF8dePQVGwtoCcu8
DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/speeko_db
WEB_APP_URL=https://spiko-final-frontend.onrender.com
SECRET_KEY=speeko-neural-master-key-2026
